# [금융 AI](http://www.kmooc.kr/courses/course-v1:CAUk+CAU_AI03+2020_1/about) 기말고사
교수: 유시용 <br>
제출자: 최규형(choigww@gmail.com)<br>
제출일: 21.02.01
## 주의사항
- 주어진 ipynb 파일을 참고하여, 문제를 코딩하여 실행시켜 결과를 출력하여 최종 ipynb 파일을 업로드 해주세요.
- 파일은 구글 Colab에서 실행시켜주세요.
- 본 기말고사는 한국거래소에 있는 주식을 대상으로 모멘텀 투자전략의 수익률을 추정해보고자 한다. 예를 들어서, 모멘텀 계산방식은 다음과 같다:
    - 시점 t에서, (한 달 모멘텀 수익률) = (t − 23) 에서 t 시점까지의 종가(Close) 수익률).
    - 한 달 기간은 거래일 기준으로 23일로 가정.
    - 데이터는 ”FinanceDataReader”를 통해서 다운로드. 
    - (모멘텀 계산기간: 2010.1.4 – 2020.11.30; 데이터 주기 (frequency) : daily)

In [2]:
#!pip install -U finance-datareader;
import pandas as pd
import numpy as np 
import datetime as dt
import pandas_datareader.data as pdr
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import FinanceDataReader as fdr
from datetime import datetime, timedelta 
import math
from scipy.stats import skew, kurtosis
import csv 
import os.path 
import time

In [3]:
# 한국거래소에 있는 주식의 데이터를 가져옴
krx = fdr.StockListing('KOSPI')
krx

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
6,152100,KOSPI,ARIRANG 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,295820,KOSPI,ARIRANG 200동일가중,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8,253150,KOSPI,ARIRANG 200선물레버리지,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6992,215620,KOSPI,흥국 S&P코리아로우볼,NaN,NaN,NaT,NaN,NaN,NaN,NaN
6994,000540,KOSPI,흥국화재,보험업,손해보험,1974-12-05,12월,권중원,http://www.insurance.co.kr,서울특별시
6995,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
6996,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
6997,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시

In [4]:
!mkdir krx

In [5]:
from concurrent import futures
import csv

bad = []
krx_list=krx['Symbol'].tolist() #회사 Symbol만을 추출해서 list로 만든다.

In [6]:
# Default Date : 2010.01.04 ~ 2020.11.30
default_start = dt.datetime(2010,1,4)
default_end = dt.datetime(2020,11,30)

def download(krx_item):
    sym=krx_item
    df=fdr.DataReader(sym, default_start, default_end)
    dfnew=df.copy()
    dfnew['Symbol']  =sym
    dfnew.to_csv(f"krx/{sym}.csv", quoting=csv.QUOTE_MINIMAL)    
    
workers = min(30,len(krx))
with futures.ThreadPoolExecutor(workers) as executor: 
    res = executor.map(download, krx_list)

In [7]:
remove_list=[]

import os.path 

stocks=pd.DataFrame()
for krx_item in krx_list:
    filename=f"krx/{krx_item}.csv"
    status=True
    if os.path.isfile(filename):
        tmp=pd.read_csv(f"krx/{krx_item}.csv",parse_dates=True) 
    if ('Close' in tmp.columns) and ('Date' in tmp.columns):
        tmp.set_index(tmp['Date'],inplace=True,drop=False) 
        tmp_close=tmp['Close'].rename(krx_item) 
        stocks=pd.concat([stocks,tmp_close],axis=1,sort=True) 
        status=False

    if status:
        remove_list.append(krx_item)

for remove_item in remove_list: 
    krx_list.remove(remove_item)

stocks = stocks.loc[:,~stocks.columns.duplicated()];

In [8]:
# 개별 주식들 close
stocks_close = stocks

# 개별 주식들의 return. log(T시점 종가 / T-1시점 종가)
with np.errstate(divide='ignore'):
    stocks_return = 100 * np.log((stocks_close / stocks_close.shift(1)).astype('float'))

# 코스피 close
kospi = pdr.DataReader('^KS11', 'yahoo', default_start, default_end) #KOSPI
kospi.index = pd.to_datetime(kospi.index).strftime("%Y-%m-%d")  # 기본 format이 time까지 잡혀서 reformat
kospi_close = kospi['Close']
kospi_return = 100 * np.log(kospi_close / kospi_close.shift(1))

In [9]:
stocks_return

,095570,006840,152100,295820,253150,253160,278420,292750,309170,309210,...,081660,005870,079980,005010,069260,215620,000540,000547,000545,003280
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,NaN,-1.217330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.562020,NaN,1.250016,-3.256247,NaN,-3.264385,-1.783992,-1.142870,-0.614846
2010-01-06,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.569447,NaN,3.058342,1.723736,NaN,0.900907,2.176149,0.458716,-0.707342
2010-01-07,NaN,0.916811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.175716,NaN,0.300752,-1.723736,NaN,-2.881170,-2.176149,-2.549385,7.847162
2010-01-08,NaN,0.600137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.659198,NaN,-0.300752,0.690769,NaN,-0.927364,0.000000,0.000000,-0.823728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-24,-0.215285,5.531364,0.553465,-0.267308,1.017211,-1.077763,0.305717,0.000000,1.328293,-1.272552,...,-2.293679,1.669488,0.246609,-0.273973,1.013180,0.829020,1.257878,0.865806,1.355953,0.000000
2020-11-25,-0.865806,-2.038576,-0.582077,-0.536770,-1.288214,1.383573,-1.228517,-0.464469,-2.127402,2.251238,...,1.268029,-0.331675,-0.617667,2.036730,-1.421344,-0.933133,2.643326,1.497354,-5.537747,0.000000
2020-11-26,-0.763779,-0.919547,1.064567,0.322408,1.955724,-2.082605,0.493219,0.865271,1.655035,1.347403,...,-1.500317,-0.166251,0.000000,0.268457,-1.027758,-0.052097,-0.348432,-0.638980,-3.993271,0.000000
2020-11-27,0.980934,1.376169,0.183868,0.428266,0.648396,-0.547090,0.184332,0.918843,1.036279,2.206097,...,-2.234073,0.497926,0.617667,-1.894509,1.639381,0.000000,0.174368,2.114244,-1.117330,0.000000
2020-11-30,-1.750592,-4.662849,-1.305684,-1.074124,-3.148339,3.086665,-1.733790,-1.165300,-1.447476,0.769106,...,-1.799689,-0.497926,-0.123229,-0.823050,-1.021459,0.156209,0.000000,-1.475264,-6.578774,0.000000

In [ ]:
# BUG. 몇몇 날짜는 krx.stock 값은 없고 kospi 값만 있음.

# ks = set(kospi.index.strftime("%Y-%m-%d"))
# # print(ks)
# ss = set(stocks.index)
# # print(ss)
# print(sorted(list(ss - ks)))

In [10]:
stocks_close

,095570,006840,152100,295820,253150,253160,278420,292750,309170,309210,...,081660,005870,079980,005010,069260,215620,000540,000547,000545,003280
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,NaN,10331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7170,NaN,15900,17885,NaN,6850,5090,2200,1142
2010-01-05,NaN,10206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7430,NaN,16100,17312,NaN,6630,5000,2175,1135
2010-01-06,NaN,10206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7700,NaN,16600,17613,NaN,6690,5110,2185,1127
2010-01-07,NaN,10300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7610,NaN,16650,17312,NaN,6500,5000,2130,1219
2010-01-08,NaN,10362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7560,NaN,16600,17432,NaN,6440,5000,2130,1209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-24,4640.0,22300,35149.0,9340.0,33595.0,6460.0,8190.0,16185.0,15915.0,14055.0,...,43100.0,6040,8120.0,7290,24800,9690.0,2800,23200,14850,258
2020-11-25,4600.0,21850,34945.0,9290.0,33165.0,6550.0,8090.0,16110.0,15580.0,14375.0,...,43650.0,6020,8070.0,7440,24450,9600.0,2875,23550,14050,258
2020-11-26,4565.0,21650,35319.0,9320.0,33820.0,6415.0,8130.0,16250.0,15840.0,14570.0,...,43000.0,6010,8070.0,7460,24200,9595.0,2865,23400,13500,258
2020-11-27,4610.0,21950,35384.0,9360.0,34040.0,6380.0,8145.0,16400.0,16005.0,14895.0,...,42050.0,6040,8120.0,7320,24600,9595.0,2870,23900,13350,258
2020-11-30,4530.0,20950,34925.0,9260.0,32985.0,6580.0,8005.0,16210.0,15775.0,15010.0,...,41300.0,6010,8110.0,7260,24350,9610.0,2870,23550,12500,258

코스피

In [11]:
# Get data as dataframe(['Close', 'Lagged Close', 'Return']) of KOSPI or random stock.
# Default Date : 2010.01.04 ~ 2020.11.30

def getStockData (ticker, start=None, end=None) :
  # Setting default values for start day and end day
    if start is None :
        start = default_start
    if end is None :
        end = default_end

    start = start.strftime("%Y-%m-%d")
    end = end.strftime("%Y-%m-%d")  

    df = pd.DataFrame(columns=['Close', 'Lagged Close', 'Return'])

    if ticker == 'kospi' :
        df['Close'] = kospi['Close']
        df['Lagged Close'] = kospi['Close'].shift(1)
    else :
        try : 
            df['Close'] = stocks_close[ticker]
            df['Lagged Close'] = stocks_close[ticker].shift(1)
        except ValueError :
            return df
  
    df['Return'] = 100 * np.log( df['Close'] / df['Lagged Close'] )

    return df.loc[start:end]

### data export

In [16]:
# stocks_return.to_csv('./csv/stocks_return.csv', encoding='utf-8-sig')
# stocks_close.to_csv('./csv/stocks_close.csv', encoding='utf-8-sig')
# kospi.to_csv('./csv/kospi.csv', encoding='utf-8-sig') 
# kospi_close.to_csv('./csv/kospi_close.csv', encoding='utf-8-sig')
# kospi_return.to_csv('./csv/kospi_return.csv', encoding='utf-8-sig')

### data import

In [36]:
def import_stock_csv(path):
    df = pd.read_csv(path, index_col=0)
    df.index = pd.to_datetime(df.index)
    return df

In [37]:
stocks_return = import_stock_csv('./csv/stocks_return.csv')
stocks_close = import_stock_csv('./csv/stocks_close.csv')
kospi = import_stock_csv('./csv/kospi.csv')
kospi_close = import_stock_csv('./csv/kospi_close.csv')
kospi_return = import_stock_csv('./csv/kospi_return.csv')

### `getStockData` 함수 use example

In [39]:
getStockData('kospi', dt.datetime(2010, 1, 4), dt.datetime(2020, 11, 30)).head()

                  Close  Lagged Close    Return
Date
2010-01-04  1696.140015           NaN       NaN
2010-01-05  1690.619995   1696.140015 -0.325977
2010-01-06  1705.319946   1690.619995  0.865742
2010-01-07  1683.449951   1705.319946 -1.290751
2010-01-08  1695.260010   1683.449951  0.699090

### 문제 1. (데이터 준비)
KOSPI 지수와 개별 주식별로 일별로 다음 종가(Close)와 수익률(%)의 두 가지 종류의 데이터를 생성하시오.
- 수익률은 다음 공식으로 계산하시오:
    - rt = 100 × ln(Closet/Closet−1). 
- KOSPI 지수와 임의의 한 주식을 선택하여 결과를 출력하시오.

### 문제 2. (모멘텀 계산)
개별 주식의 Close를 활용하여,
- 1개월(23일,1m)
- 3개월(65일, 3m),
- 6개월(130일, 6m),
- 9개월(190일, 9m),
- 12개월(253일, 12m)

등의 모멘텀을 계산하시오. KOSPI 지수와 임의의 한 주식을 선택하여 결과를 출력하시오.

$$r_t^{1m}=100 \ \times \ \text{ln}(\text{Close}_{t}/\text{Close}_{t-23})$$
$$r_t^{3m}=100 \ \times \ \text{ln}(\text{Close}_{t}/\text{Close}_{t-65})$$
$$\vdots$$
$$r_t^{12m}=100 \ \times \ \text{ln}(\text{Close}_{t}/\text{Close}_{t-253})$$

### 문제 3. (포트폴리오 구성)
각 모멘텀 기준(1m, 3m, 6m, 9m, 12m), 일별로, 최상위 주식 20개를 제외한 이후 최상위 10개 주식(best portfolio)(즉, 상위 21∼30위의 10개 주식), 중간순위 10개 주식(median portfolio), 최하위 50개 주식을 제외한 이후의 최하위 10개 주식(worst portfolio)(즉, 하위 51∼60위의 10개 주식)으로 포트폴리오를 구성하시오.

- (a) 각 모멘텀 기준(1m, 3m, 6m, 9m, 12m)으로 구성된 각 포트폴리오 의 구성 개별 주식의 모멘텀을 일별(daily)로 출력하시오.
- (b-1) 각 모멘텀 기준(1m, 3m, 6m, 9m, 12m)으로 구성된 각 포트폴리오의 구성 개별 주식 이름(ticker)을 일별(daily)로 출력하시오.
- (b-2) 그리고 새롭게 편입된 종목이름과 퇴출된 종목이름을 일별(daily)로 출력하시오.
- (c) 각 모멘텀 기준(1m, 3m, 6m, 9m, 12m)으로 구성된 각 포트폴리오의 구성 개별 주식을 1일 보유수익률을 출력하시오.
    - (t 시점에서 구성되었다면, t시점과 t + 1시점 간의 수익률을 의미함)
- (d-1) 각 모멘텀 기준(1m, 3m, 6m, 9m, 12m)으로 구성된 각 포트폴리오의 포트폴리오 일별(daily) 수익률을 계산하시오.
- (d-2) 각 포트폴리오의 일별(daily) 수익률을 다음과 같이 계산하시오.
$$r_{p, t}=\frac{1}{10}\sum_{i \in p}r_{i, t}$$
    - 여기서, p = portfolio (best, median, worst). 주의할 것은, i ∈ p는 t−1시점에서 모멘텀에 의해서 결정되었음. 각 시점에서는 취하는 행동은 2가지임.
        - 1) 직전의 시점에서 구성된 각 포트폴리오(10개 주식)의 수익률을 위 식과 같이 계산한다.
        - 2) 그 시점의 모멘텀을 계산하고, 그 추정된 모멘텀을 기반으로 포트폴리오를 새롭게 구성한다.
        - (매일 포트폴리오를 rebalance하게 됨. Rebalance 기준은 각 모멘텀. 포트폴리오 수익률은 포트폴리오 내의 10개 주식의 일별 수익률의 평균임. 각 모멘텀 기준 (5개)으로 3종류(best, median, worst)의 포트폴리오가 구성되기 때문에, 매일 총 15개의 포트폴리오가 구성됨.)
- (e) 15개의 포트폴리오 수익률 데이터를 출력하시오.

### 문제 4.
- 15개 포트폴리오 수익률과 KOSPI 지수 수익률의 기초통계(평균, 표준편차, 왜도, 첨도, 평균/표준편차)를 구하시오. 
- 그리고 기초통계를 이용하여, 각 포트폴리오의 특성을 설명하시오.

### 문제 5.
- 15개 포트폴리오 수익률과 KOSPI 지수 수익률의 correlation coefficient를 heatmap으로 나타내고, pairplot을 그리고, 특성을 설명하시오.

### 문제 6.
- 15개 포트폴리오 수익률과 KOSPI 지수 수익률의 누적수익률 그래프를 그리시오.
    - (best vs. KOSPI, median vs. KOSPI, worst vs. KOSPI 로 구분하여 3개의 그래프로 그릴 것)

### 문제 7.
- 위 결과를 바탕으로 최적의 투자전략을 제시하고, 그 근거를 설명하시오.

### 문제 8.
- 모멘텀 기간의 변화(23일 ∼ 253일)에 따른 portfolio(best, median, worst)의 누적수익률을 계산하고 그래프로 출력하시오.
    - (x축: 모멘텀 기간의 변화 (23일 ∼ 253일);
    - y축: 모멘텀 기간의 변화에 따른 포트폴리오별 최종시점의 누적수익률 추이)