In [92]:
import pandas as pd
import numpy as np
import re
from konlpy.tag import Okt

In [94]:
reviews = pd.read_csv('./csv/movie_review_2019_3.csv', index_col=0)
reviews.head()

,title,review
0,10 미니츠 곤 (10 Minutes Gone),"10 미니츠 곤\n감독\n브라이언 A 밀러\n출연\n브루스 윌리스, 마이클 치클리스..."
1,10 미니츠 곤 (10 Minutes Gone),"\n10 미니츠 곤 \n10 Minutes Gone, 2019\n\n장르 : 액션..."
2,108명의 여자와 섹스하는 방법 (108: REVENGE AND ADVENTURE ...,\n난 헥헥이라고는 생각하진 않았다.\n그래도 그런 면도 기대하지 않았다고 하면 ...
3,12명의 죽고 싶은 아이들 (12 Suicidal Teens),"혹시 우울한가요? 자살하고 싶나요?\n저도 정말 죽고 싶었던 적이 있었는데요\n""죽..."
4,12명의 죽고 싶은 아이들 (12 Suicidal Teens),"12명의 죽고 싶은 아이들\n감독\n츠츠미 유키히코\n출연\n스기사키 하나, 아라타..."

In [4]:
sentence = re.sub(r'[^가-힣]', ' ', reviews.iloc[0,1])
sentence

'   미니츠 곤 감독 브라이언   밀러 출연 브루스 윌리스  마이클 치클리스 개봉             캐나다  미국 평점 리뷰보기 동영상이 첨부되었습니다  원본보기 예고편           리프라이즐                   리프라이즐 감독 브라이언    밀러 출연 브루스 윌리스  프랭크 그릴로 개봉 미국 평점 리뷰보기 예고편                     리프라이즐에서도 이야기했지만 감독이 제작자출신 돈많은   그러므로 브루스 윌리스에게 돈좀 쥐어주거나 둘이 친구거나    도대체 왜이런영화에 출연하는지  류 급 부활을 노리는건지   영화도 영화지만 캐스팅 참 밉상들만나옴     동영상이 첨부되었습니다  원본보기 상어가죽의 선택 한 장면           평점   점 만점에  점       '

In [5]:
okt = Okt()
token = okt.pos(sentence)

In [7]:
df_token = pd.DataFrame(token, columns = ['word',  'class'])
df_token

     word class
0      미니  Noun
1       츠  Noun
2       곤  Noun
3      감독  Noun
4    브라이언  Noun
..    ...   ...
108    평점  Noun
109     점  Noun
110    만점  Noun
111     에  Josa
112     점  Noun

[113 rows x 2 columns]

In [9]:
df_cleaned_token = df_token[(df_token['class']=='Noun')|
                           (df_token['class']=='Verbe')|
                           (df_token['class']=='Adjective')]
df_cleaned_token

     word class
0      미니  Noun
1       츠  Noun
2       곤  Noun
3      감독  Noun
4    브라이언  Noun
..    ...   ...
107    장면  Noun
108    평점  Noun
109     점  Noun
110    만점  Noun
112     점  Noun

[77 rows x 2 columns]

In [72]:
stopwords = pd.read_csv('./csv/stopwords.csv', index_col=0)
stopwords = list(stopwords['stopword'])
stopwords[:5]

['아', '휴', '아이구', '아이쿠', '아이고']

In [46]:
cleaned_sentences = []
for word in df_cleaned_token['word']:
    #print(word)
    if len(word) > 1:
        if word not in stopwords:
            cleaned_sentences.append(word)

In [47]:
cleaned_sentence = ' '.join(stop_words)
cleaned_sentence

'영화 브릿지 테러 셧다운 마블 히어로 블랙 팬서 이름 널리 채드윅 보스 연작 입니다 지난 갑작스럽게 비보 마지막 개봉 국내 개봉 직후 코로나 신종 바이러스 세상 전파 시작 흥행 통치 다운로드 생각 괜찮아서 형사물 좋아하시는 위해 집콕 연말 영화 소개 야심한 뉴욕 중심지 맨해튼 와인 가게 복면 인조 무장 강도 침입 목표 와인 가게 지하 창고 코카인 상치 뉴욕 경찰 순찰 당황 순경 모두 살해 심각한 중범죄 무장강 도의 정체 레이 마이클 빈민가 형제 사고 사회 적응 유혹 사건 현장 출동 안드레 데이비드 형사 범인 맨해튼 남아 있다 판단 외부 도주 스물 모든 다리 봉쇄 요청 시간 봉쇄 동안 범인 검거 사건 관할 부서 멕케 경감 마약 부서 프랭키 번스 형사 파트너 안드레 지휘 부고 다음 그런지 채드윅 보스 얼굴 잠깐 잠깐 병색 같아 안타까웠습니다 시에나 밀러 연기 프랭키 안드레 처음 의견 대립 조금 있다 손발 영화 블록버스터 스케일 아니고 극장 정통 형사물 있었습니다 액션 두뇌 게임 높은 비중 있어요 범죄자 추적 갈수록 단순 강도 살인 아니라는 안드레 악한 정은 아니었지만 환경 지배 아래 범죄 나락 마이클 대결 과연 어떻게 직접 채드윅 보스 사망 소식 국내 언론 이런 제목 기사 전세계 언론 신뢰 꼴찌 국내 기레기 천한 인성 더욱 적나라하게 대형 포털 클릭 유도 있으면 무슨 아무런 죄책감 사회 인격장애 있는 소위 기자 있습니다 채드윅 보스 자신 알리 성실히 작품 활동 오히려 투병 중인 어린이 희망 용기 고귀한 영혼 배우 마지막 모습 있었던 영화 브릿지 브릿지 테러 셧다운 감독 브라이언 커크 출연 채드윅 보스 시몬 시에나 밀러 테일러 키취 개봉 미국 리뷰 보기'

In [95]:
def clean_review(df, stopwords):
    okt = Okt()
    cleaned_sentences = []

    for s in df['review']:

        sentence = re.sub(r'[^가-힣]', ' ', s)

        token = okt.pos(sentence)
        df_token = pd.DataFrame(token, columns = ['word',  'class'])

        df_cleaned_token = df_token[(df_token['class']=='Noun')|
                               (df_token['class']=='Verbe')|
                               (df_token['class']=='Adjective')]

        words = []
        
        for word in df_cleaned_token['word']:
            
            if len(word) > 1:
                if word not in stopwords:
                    words.append(word)

        cleaned_sentence = ' '.join(words)
        cleaned_sentences.append(cleaned_sentence)
        
    return cleaned_sentences

In [96]:
reviews['cleaned_review'] = clean_review(reviews, stopwords)
df = reviews[['title', 'cleaned_review']]

In [97]:
def sum_strings_by_movie_name(df):
    one_sentences = []

    for title in df['title'].unique():
        temp = df[df['title']==title]['cleaned_review']

        one_sentence = ' '.join(list(temp))
        one_sentences.append(one_sentence)

    return pd.DataFrame({'title':df['title'].unique(), 'review':one_sentences})

In [98]:
df_one_sentences = sum_strings_by_movie_name(df)

In [99]:
df_one_sentences

,title,review
0,10 미니츠 곤 (10 Minutes Gone),미니 감독 브라이언 밀러 출연 브루스 윌리스 마이클 리스 개봉 캐나다 미국 평점 리...
1,108명의 여자와 섹스하는 방법 (108: REVENGE AND ADVENTURE ...,헥헥 생각 면도 기대하지 거짓말 영화 정통 드라마 실망 실망 포르노 정도 아니지만 ...
2,12명의 죽고 싶은 아이들 (12 Suicidal Teens),우울한가요 자살 정말 있었는데요 생각 순간 방식 높은 아프지 아프게 방법 없을까 방...
3,13일의 금요일 : 음모론의 시작 (Friday the 13th : The Cons...,인천 감독 편의 영화 사실 부족 연출 노력 모습 항상 영화 재미 있던가 뭔가 있어야...
4,16세의 사운드트랙 (Soundtrack to Sixteen),사운드트랙 감독 힐러리 셰익스피어 출연 스칼렛 마샬 제임스 콜로 웨이 개봉 영국 평...
5,1917 (1917),감독 데스 출연 조지 맥케이 찰스 채프먼 개봉 미국 평점 리뷰 보기 스포일러 포함 ...
6,1918: 크루티 대전투 (Kruty 1918),크루 전투 감독 알렉세이 샤파 레바 개봉 우크라이나 평점 리뷰 보기 우크라이나 독립...
7,1919 유관순,항거 보고 일본 입장 대변 항거 영화 이야기 전달 방식 입니다 일본 한국 변명 방식...
8,1942: 언노운 배틀 (Unknown Battle),언노운 배틀 감독 카피 출연 세르게이 자코 이반 바타 레프 알렉산드르 버카 로프 표...
9,1945: 포인트 오브 노 리턴 (The Eastern Front: Point of...,영화 포인트 오브 리턴 있을까 영화 포인트 오브 리턴 독일군 중위 비롯 병사 진지 ...
10,21 브릿지: 테러 셧다운 (21 Bridges),와칸 포레버 블랙 팬서 채디윅 보스 주연 범죄 액션영화 브릿지 테러 셧다운 롯데 시...

In [90]:

df.to_csv('./csv/cleaned_movie_review_2019_3.csv', encoding='utf-8-sig')