### 파이썬의 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

#### 1. 주석(comment)과 출력(print)

In [3]:
# 주석 : 앞에 #를 붙이면 코드로 실행이 안됩니다.
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축키 : ctrl(cmd) + /
# 블럭설정 : shift + 방향키

# 1, 2, 3을 출력하는 코드
print(1)
print(2)
print(3)

1
2
3

In [4]:
# 출력 : print 함수
# 코드 중간 변수에 들어있는 값을 확인하고 싶을 때 사용

In [7]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [10]:
# print 함수의 옵션
# docstring : 함수에 대한 설명 : 단축키 (shift + tab)
# 자동완성 : tab (시간절약 + 오타를 줄여준다!)

'''
Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
'''

print(1, 2, sep = "-", end="\t")
print(3)

1-2	3

In [11]:
python_data_science = 1

In [12]:
python_data_science = 1

#### 변수 선언
- RAM 저장공간에 값을 할당하는 작업

In [62]:
a = 1
b = 2
#a = b
c = a + b
print(c)

3

In [17]:
# 한 번에 여러 개 변수 선언하기
d, e = 3, 4
f = g = 5

#### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 합니다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_)를 사용합니다.
    - 가장 앞에 숫자 사용 불가
    - 예약어의 사용 불가 : def, class, try, except, ...
    - 컨벤션
     - snake case : fast_campus : 변수, 함수
     - camel case : FastCampus, fastCampus : 클래스

In [19]:
# def = 1 # 선언불가

### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해 저장공간의 타입 설정
- 동적타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정됨
    - 주로 인터프리터형 언어에서 사용됨
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [22]:
a = 1
# int a = 1

b = "python"
print(type(a), type(b))

<class 'int'> <class 'str'>

In [23]:
# 기본 데이터 타입 :  int, float, bool, str
a = 1
b = 1.2
c = True #False
d = "data"

print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'bool'> <class 'str'>

In [60]:
print(a + b)

2.2

In [61]:
print(a + d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
# 데이터 타입에 내장된 함수 : 문자열
e = d.upper()
print(d, e)

data DATA data

In [34]:
# string.lower 소문자 변환
f = "Fast Campus"
print(f.lower())

fast campus

In [43]:
# string.strip 앞뒤 공백제거
print("    Fast Campus    ".strip())

Fast Campus

In [44]:
# string.replace : 특정 문자열 치환
print(f.replace("Fast", "Slow"))

Slow Campus

In [45]:
print(f.replace(" ", ""))

FastCampus

In [39]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [46]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합

In [48]:
g = "abcdefg"

In [57]:
print(g[2], g[-1], g[-2], g[2:5], g[:2], g[3:], g[-2:])

print(g[::2]) #interval
print(g[::-1]) #reverse

c g f cde ab defg fg
aceg
gfedcba

In [59]:
numbers = "123456789" # 97531 출력하는 방법은?

print(numbers[::-2])
print(numbers[::-1][::2])

97531
97531

#### 컬렉션 데이터 타입 : list, tuple, dict
- list : 순서가 있는 수정 가능한 데이터 타입
- tuple : 순서가 있는 수정이 불가능한 데이터 타입
- dict : 순서가 없고 키:값으로 구성된 데이터 타입

In [65]:
# list
ls = [1, 2, 3, "four", [5, 6], True, 1.2]
print(type(ls), ls)

<class 'list'> [1, 2, 3, 'four', [5, 6], True, 1.2]

In [67]:
# offset index 사용이 가능
print(ls[3], ls[1:3], ls[::-1])

four [2, 3] [1.2, True, [5, 6], 'four', 3, 2, 1]

In [68]:
# list 함수

In [73]:
ls = [1, 5, 2, 4]

In [74]:
# append : 가장 뒤에 값 추가
ls.append(3) # 아무 값도 반환하지 않는다
print(ls)

[1, 5, 2, 4, 3]

In [75]:
# sort : 오름차순 정렬
ls.sort() # 아무 값도 반환하지 않는다
print(ls)
print(ls[::-1]) #내림차순 정렬로 reverse

[1, 2, 3, 4, 5]

In [76]:
# pop : 가장 마지막 데이터를 반환하고, 출력한 데이터를 삭제한다
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
print(num, ls)

5 [1, 2, 3, 4]

In [77]:
# 리스트의 복사

In [78]:
ls1 = [1, 2, 3]
ls2 = ls1  # ls1을 가리키는 주소값을 ls2 변수에 저장
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [79]:
ls1[2] = 5  # ls1 주소값 내용이 변경

In [80]:
print(ls1, ls2) # ls2 호출시 ls1 주소값 불러옴 - 변경된 값을 출력

[1, 2, 5] [1, 2, 5]

In [81]:
ls1 = [1, 2, 3]
ls2 = ls1.copy()  # ls1 변수 주소에 저장된 값을 새 변수주소에 담아서 ls2에 저장
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [82]:
ls1[2] = 5
print(ls1, ls2)  # ls1 변경사항이 반영되지 않음

[1, 2, 5] [1, 2, 3]

In [83]:
# Tuple : 리스트와 같지만 수정이 불가능한 데이터 타입
# 튜플은 같은 데이터를 갖고 있을 때 리스트보다 적은 공간을 사용

In [84]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
print(type(tp1), type(tp2), tp1, tp2)

<class 'tuple'> <class 'tuple'> (1, 2, 3) (4, 5, 6)

In [86]:
a, b = 1, 2
a, b
# a, b는 tuple 자료구조 이용하여 선언되었음

(1, 2)

In [88]:
# offset index 사용
print(tp1[1], tp1[::-1])

2 (3, 2, 1)

In [89]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

# 운영체제에 따라 튜플 저장공간 할당량은 소폭 다를 수 있음
print(sys.getsizeof(ls), sys.getsizeof(tp))

80 64

#### dict()
- 순서가 없고 {키:값}으로 구성된 데이터 타입

In [90]:
# 선언 : 키는 정수, 문자열 데이터 타입만 사용 가능
# 인덱스 대신 키를 사용
dic = {
    1 :  "one",
    "two" : 2,
    "three" : [1, 2, 3],
}

print(type(dic), dic)

<class 'dict'> {1: 'one', 'two': 2, 'three': [1, 2, 3]}

In [91]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [92]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [93]:
# 아래 데이터를 list와 dict로 선언
# 도시 : seoul, busan, daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [94]:
# 리스트
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [95]:
# dictionary
data = {
    "seoul" : 9700000,
    "busan" : 3400000,
    "daegu" : 2400000,
}

In [98]:
print(sys.getsizeof(city), sys.getsizeof(population), sys.getsizeof(data))

80 80 232

In [99]:
print(sum(population), sum(data.values()))

15500000 15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [100]:
a = 1
b = "2"
print(a + int(b))

3

In [101]:
print(str(a) + b)

12

In [103]:
print(list(data.values()))

[9700000, 3400000, 2400000]

In [104]:
print(city, population)

['seoul', 'busan', 'daegu'] [9700000, 3400000, 2400000]

In [107]:
# zip : 같은 인덱스끼리 묶어주는 함수
'''
Init signature: zip(self, /, *args, **kwargs)
Docstring:     
zip(*iterables) --> A zip object yielding tuples until an input is exhausted
'''
print(list(zip(city, population)))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [110]:
result = dict(list(zip(city, population)))
print(result)

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [111]:
data1 = list(result.keys())
data2 = list(result.values())
print(data1, data2)

['seoul', 'busan', 'daegu'] [9700000, 3400000, 2400000]

In [112]:
string = "python"
int(string)

ValueError: invalid literal for int() with base 10: 'python'

### 6. 연산자
RAM에 올라온 변수주소에 담긴 값들을 가지고 CPU에서 계산한다

- 산수연산자 : +, -, *, /, //, %, **
- 할당연산자 : 변수에 누적시켜서 연산 : +=, //=, **=, ...
- 비교연산자 : >, <, ==, !=, >=, <= : 결과로 True, False
- 논리연산자 : True, False를 연산 : or, and, not
- 멤버연산자 : 특정 데이터가 있는지 확인할 때 사용 : not in, in

In [113]:
# 산수연산자
a= 1
b = 2
a + b

3

In [114]:
1 + 4 / 2 ** 2

2.0

In [115]:
(1 + 4) / 2 ** 2

1.25

In [116]:
# 할당연산자
a = 10
a = a + 10
a += 10
a

30

In [117]:
# 비교연산자
a < b, a == b, a != b

(False, False, True)

In [121]:
# 논리연산자
True and False, True or False, not True and False, not (True and False)

(False, True, False, True)

In [122]:
# 멤버연산자
ls = ["Jin", "Andy", "John"]

In [124]:
"Andy" in ls, "Angela" in ls, "Joon" not in ls

(True, False, True)