### map, filter, reduce
- 아래의 코드들이 모두 동작되도록 `# TODO`가 있는 셀에 함수를 작성하세요.

##### Quiz 1
- map 함수를 map_func 함수의 이름으로 구현하세요.
- 리스트의 데이터를 아래의 예제와 같이 더하는 함수를 만드는데 따로 함수를 선언해서 사용하지 말고 map의 첫번째 파라미터에 lambda 함수로 구현하세요.

```
ls1 = [1,2,3,4]
ls2 = [5,6,7]
ls3 = [9,10,11,12]

result = [15, 18, 21]
```

In [3]:
ls1 = [1,2,3,4]
ls2 = [5,6,7]
ls3 = [9,10,11,12]

In [2]:
# map 함수 사용
list(map(lambda *args : sum(args), ls1, ls2, ls3))

[15, 18, 21]

In [11]:
list(map(lambda *args : sum(args), ls1))

[1, 2, 3, 4]

In [13]:
sum([1])

1

In [5]:
# TODO
# map_func 이름으로 map 함수를 구현하세요.


def map_func(func, *args):
    return [func(*data) for data in zip(*args)]

In [6]:
# map_func 함수 사용
map_func(lambda *args : sum(args), ls1, ls2, ls3)

[15, 18, 21]

### Quiz 2
- filter 함수를 구현하여 1~10까지 숫자에서 홀수만 출력하는 코드를 작성하세요
```
ls = range(1, 11)
result = [1, 3, 5, 7, 9]
```

In [9]:
ls = range(1, 11)

In [57]:
# filter 함수 사용
list(filter(lambda number: number % 2, ls))

[1, 3, 5, 7, 9]

In [15]:
# TODO
# filter_func 이름으로 filter 함수를 구현하세요.

def filter_func(func, data):
    return [d for d in data if func(d)]

In [16]:
# filter_func 함수 사용
filter_func(lambda number: number % 2, ls)

[1, 3, 5, 7, 9]

### Quiz
- reduce 함수를 구현

```
ls = [1, 2, 3, 4, 5]
def reduce_func():
    #TODO
    
reduce_func(lambda num1, num2: num1 + num2, ls)
result => 15
```

- 힌트

```
ls = [1, 2, 3]
del ls[0]
ls => [2, 3]
```

In [84]:
from functools import reduce

In [115]:
ls = [1, 2, 3, 4, 5]

In [86]:
# reduce 함수 사용
reduce(lambda num1, num2: num1 + num2, ls)

15

In [17]:
# TODO
# reduce_func 이름으로 reduce 함수를 구현하세요.

def reduce_func(func, ls):
    result = ls[0]
    del ls[0]
    for data in ls:
        result = func(result, data)
    return result

In [18]:
# reduce_func 함수 사용
ls = [1, 2, 3, 4, 5]
reduce_func(lambda num1, num2: num1 + num2, ls)

15