#파일

##저장

In [1]:
import pandas as pd

In [2]:
data = {'name':['Jerry', 'Riah', 'Paul'],
       'algol':['A', 'A+', 'B'],
       'python':['A', 'A+', 'B'],
       'SQL':['A', 'A+', 'B']}
df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

      algol python SQL
name
Jerry     A      A   A
Riah     A+     A+  A+
Paul      B      B   B

In [3]:
data2 = {'c0':[1,2,3],
        'c1':[4,5,6],
        'c2':[7,8,9],
        'c3':[10,11,12],
        'c4':[13,14,15]}
df2 = pd.DataFrame(data2)
df2.set_index('c0', inplace=True)
print(df2)

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

In [4]:
df.to_csv('./df_sample.csv')

In [5]:
df.to_json('../df_sample.json')

In [6]:
df.to_excel('./df_sample.xlsx')

In [7]:
writer = pd.ExcelWriter('df_excel_writer.xlsx')
df.to_excel(writer, sheet_name='sheet1')
df2.to_excel(writer, sheet_name='sheet2')
writer.save()

In [8]:
df_read_csv = pd.read_csv('./df_sample.csv')
print(df_read_csv)

    name algol python SQL
0  Jerry     A      A   A
1   Riah    A+     A+  A+
2   Paul     B      B   B

In [9]:
df_read_csv2 = pd.read_csv('./df_sample.csv', header=None)
print(df_read_csv2)

       0      1       2    3
0   name  algol  python  SQL
1  Jerry      A       A    A
2   Riah     A+      A+   A+
3   Paul      B       B    B

In [10]:
#df_read_csv3 = pd.read_csv('./df_sample.csv',
#                           index_col=None)
df_read_csv3 = pd.read_csv('./df_sample.csv',
                           index_col='name')
#df_read_csv3 = pd.read_csv('./df_sample.csv')
#df_read_csv3.set_index('name', inplace=True)
print(df_read_csv3)

      algol python SQL
name
Jerry     A      A   A
Riah     A+     A+  A+
Paul      B      B   B

In [11]:
df = pd.DataFrame(data)
print(df)
df.to_csv('./df_sample2.csv')

    name algol python SQL
0  Jerry     A      A   A
1   Riah    A+     A+  A+
2   Paul     B      B   B

In [12]:
df = pd.read_csv('./df_sample2.csv')
df

   Unnamed: 0   name algol python SQL
0           0  Jerry     A      A   A
1           1   Riah    A+     A+  A+
2           2   Paul     B      B   B

In [13]:
df = pd.read_csv('./df_sample2.csv', index_col=0)
df

    name algol python SQL
0  Jerry     A      A   A
1   Riah    A+     A+  A+
2   Paul     B      B   B

In [14]:
df_excel1 = pd.read_excel('./df_sample.xlsx',
                          engine='openpyxl')
print(df_excel1)

    name algol python SQL
0  Jerry     A      A   A
1   Riah    A+     A+  A+
2   Paul     B      B   B

In [15]:
df_excel1 = pd.read_excel('./df_sample.xlsx',
                          engine='openpyxl',
                         header=None)
print(df_excel1)

       0      1       2    3
0   name  algol  python  SQL
1  Jerry      A       A    A
2   Riah     A+      A+   A+
3   Paul      B       B    B

In [16]:
df_excel1 = pd.read_excel('./df_sample.xlsx',
                          engine='openpyxl',
                         index_col='name')
print(df_excel1)

      algol python SQL
name
Jerry     A      A   A
Riah     A+     A+  A+
Paul      B      B   B

In [17]:
df_json1 = pd.read_json('../df_sample.json')
print(df_json1)

      algol python SQL
Jerry     A      A   A
Riah     A+     A+  A+
Paul      B      B   B

In [20]:
tabels1 = pd.read_html('./sample.html')
print(len(tabels1))

2

In [21]:
for i in range(len(tabels1)):
    print(tabels1[i])

   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [25]:
print(type(tabels1))
print(type(tabels1[0]))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [27]:
tabels2 = pd.read_html(
'https://www.w3schools.com/html/html_tables.asp')
print(len(tabels2))

2

In [28]:
print(tabels2[0])

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [29]:
print(tabels2[1])

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

In [59]:
tabels3 = pd.read_html(
    'https://finance.naver.com/item/sise_day.nhn?code=040610',
    encoding='euc-kr')
print(tabels3[-2])

            날짜      종가    전일비      시가      고가      저가         거래량
0          NaN     NaN    NaN     NaN     NaN     NaN         NaN
1   2021.01.07  2160.0  495.0  1665.0  2160.0  1635.0  18034441.0
2   2021.01.06  1665.0   75.0  1590.0  1665.0  1580.0    505419.0
3   2021.01.05  1590.0   15.0  1575.0  1590.0  1560.0    209960.0
4   2021.01.04  1575.0   10.0  1595.0  1595.0  1565.0    151031.0
5   2020.12.30  1565.0   50.0  1535.0  1575.0  1530.0    234397.0
6          NaN     NaN    NaN     NaN     NaN     NaN         NaN
7          NaN     NaN    NaN     NaN     NaN     NaN         NaN
8          NaN     NaN    NaN     NaN     NaN     NaN         NaN
9   2020.12.29  1515.0    5.0  1515.0  1560.0  1500.0    116080.0
10  2020.12.28  1510.0   55.0  1560.0  1590.0  1495.0    200256.0
11  2020.12.24  1565.0   35.0  1540.0  1580.0  1520.0    205661.0
12  2020.12.23  1530.0    0.0  1530.0  1555.0  1510.0    142346.0
13  2020.12.22  1530.0   50.0  1580.0  1590.0  1530.0    219925.0
14         NaN     NaN    NaN     NaN     NaN     NaN         NaN

In [38]:
from bs4 import BeautifulSoup
import requests
import re

In [100]:
url_list_tag = 'https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds'
resp = requests.get(url_list_tag)
soup = BeautifulSoup(resp.text, 'lxml')
#print(soup)
rows = soup.select('div > ul > li')
#print(rows)
print(len(rows))
print(rows[10])

467
<li>iShares Core S&amp;P Total US Stock Mkt (NYSE Arca|ITOT)</li>

In [104]:
etf_name = re.findall('^(.*) \(NYSE', rows[10].text)
print(etf_name)
etf_market = re.findall('\((.*)\|', rows[10].text)
print(etf_market)
etf_ticker = re.findall('NYSE Arca\|(.*)\)', rows[10].text)
print(etf_ticker)

['iShares Core S&P Total US Stock Mkt']
['NYSE Arca']
ITOT

In [109]:
print(type(etf_ticker[0]))

<class 'str'>

In [97]:
print('|')

|

In [103]:
etfs = {}
etf_names = []
for row in rows:
    etf_name = re.findall('^(.*) \(NYSE', row.text)
    etf_market = re.findall('\((.*)\|', row.text)
    etf_ticker = re.findall('NYSE Arca\|(.*)\)', 
                            row.text)
    if (len(etf_name) > 0) & (len(etf_market) > 0) & (len(etf_ticker) > 0):
        etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]
print(etfs)

TypeError: unhashable type: 'list'

In [102]:
df_li = pd.DataFrame(etfs, index=['market', 'name'])
print(df_li.T)

         market                                            name
ITOT  NYSE Arca             iShares Core S&P Total US Stock Mkt
IWV   NYSE Arca                      iShares Russell 3000 Index
SCHB  NYSE Arca                      Schwab US Broad Market ETF
FNDB  NYSE Arca  Schwab Fundamental U.S. Broad Market Index ETF
VT    NYSE Arca                      Vanguard Total World Stock
...         ...                                             ...
EU    NYSE Arca                       WisdomTree Euro Debt Fund
ICB   NYSE Arca                 WisdomTree Dreyfus Indian Rupee
RRF   NYSE Arca                   WisdomTree Global Real Return
USDU  NYSE Arca   WisdomTree Bloomberg U.S. Dollar Bullish Fund
WDTI  NYSE Arca        WisdomTree Managed Futures Strategy Fund

[382 rows x 2 columns]