### summary
- jupyter notebook
 - mode : 명령모드, 편집모드
 - style: markdown, code
 - 단축키
  - 실행 : shift + enter
  - 자동완성 : tab
  - docstring 보기 : shfit + tab
  - 주석설정 : cmd(ctrl) + /
  - 셀 생성 : a(위에), b(아래)
  
- python 기본 문법
 - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
 - 식별자 규칙
  - 대문자, 소문자, 숫자, _
  - 가장 앞글자 숫자사용 불가
  - 예약어 사용 불가 : def, class, try, ...
  - snake_case(변수, 함수), CamelCase(클래스)
  - pep8 문서 (python code conventions)
 - 데이터 타입
  - 동적 타이핑 : 자동으로 저장공간의 데이터 타입을 설정한다 (파이썬)
  - 기본 데이터 타입 : int, float, bool, str
  - 컬렉션 데이터 타입 : list, tuple (**iterable, 순서가 있는 데이터 집합**), dictionary (순서 없음)
  - offset index : 특정 위치의 데이터를 출력할 때 사용
   - iterable한 데이터 타입에서만 사용이 가능 > list, tuple, string
   - [] : mask, masking
   - [idx] : idx 위치 데이터를 출력
   - [start:end] : start에서 end까지 출력 (end는 포함되지 않습니다)
   - [start:end:stride] : stride 만큼씩 점프하여 출력
  - 형변환
   - 이미 변수에 설정된 데이터 타입을 변경하는 행위
   - zip
    - 여러개의 리스트를 같은 인덱스끼리 묶어주는 함수
    - 두 개의 리스트를 묶어서 dict 형변환하기 (key:value)
  - 연산자
   - 산술 : +, -, \*, /, //, %, **
   - 할당 : A (산술) = (data)
   - 비교 : <, >, ==, !=, >=, <=
   - 논리 : and, or, not
   - 멤버 : in, not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용
- if, else, elif

In [1]:
# 조건부분에 bool 데이터 타입 이외의 데이터 타입이 오면 bool 타입으로 형변환되어 판단

if False:
    print("python")

print("done")

done

In [2]:
# int : 0을 제외한 나머지 값은 True
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [3]:
num = 0

if num:
    print("Python")

num = 1
if num:
    print("Python 2")

Python 2

In [4]:
number = 7

if number % 2:
    print("홀수")

홀수

In [5]:
# float : 0.0을 제외한 나머지 실수는 True
# str : ""를 제외한 나머지 문자열은 True
# list, tuple, dict : 비어있는 [], (), {}을 제외한 나머지는 True

In [6]:
# 지갑에 돈이 10000원 이상 있으면 택시를 타고
# 그렇지 않으면 걸어서 집에 갑니다.

money = 12000

if money >= 10000:
    print("taxi")

if money < 10000:
    print("walk")

taxi

In [7]:
if money >= 10000:
    print("taxi")
else:
    print("walk")

taxi

In [10]:
money = 5000

if money >= 10000:
    print("taxi")
elif money >= 5000:
    print('fast bus')
elif money >=2000:
    print('slow bus')
else:
    print("walk")

fast bus

In [11]:
if money >= 10000:
    print("taxi")
elif money >=2000:
    print('slow bus')
elif money >= 5000:
    print('fast bus')
else:
    print("walk")

slow bus

In [12]:
# 계좌에 10000원이 들어 있습니다
# 인출 금액을 입력받습니다
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다." - 출력
# 인출 금액이 계좌에 있는 금액보다 적으면 "인출 되었습니다." - 출력
# 마지막에 현재 계좌의 잔액을 출력

In [16]:
data = int(input("draw money: "))
print(type(data), data)

draw money: 5000
<class 'int'> 5000

In [22]:
account = 10000
draw_money = int(input('insert draw money : '))

if account > draw_money:
    account -= draw_money
    print(str(draw_money) + "원이 인출 되었습니다.")
else:
    print("인출이 불가능합니다. " + str(draw_money - account) + "원의 잔액이 부족합니다.")

insert draw money : 35000
인출이 불가능합니다. 25000원의 잔액이 부족합니다.

In [27]:
# string 데이터 타입의 format 함수
print("현재 잔액은 " + str(account) + " 원 입니다.")
print("현재 잔액은 {} 원 입니다. 인출금액은 {}원 입니다.".format(account, draw_money))
print(f"현재 잔액은 {account} 원 입니다. 인출금액은 {draw_money}원 입니다.")

현재 잔액은 10000 원 입니다.
현재 잔액은 10000 원 입니다. 인출금액은 35000원 입니다.
현재 잔액은 10000 원 입니다. 인출금액은 35000원 입니다.

### 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법
- (True) if (condition) else (False)

In [28]:
# data 변수에 0이면 "zero" 출력, 아니면 "not zero" 출력
data = 0
if data:
    print("not zero")
else:
    print("zero")

zero

In [29]:
data = 1
"not zero" if data else "zero"

'not zero'

In [30]:
data = 0
"not zero" if data else "zero"

'zero'

### 2. 반복문
- 반복되는 코드를 실행할때 사용
- while, for, break, continue
- list comprehension

In [31]:
# while
data = 3

while data: # 조건이 False가 될때까지 구문의 코드를 실행
    
    # 반복되는 코드
    print(data)
    data -= 1

3
2
1

In [32]:
# 학생이 국어:80점, 영어:90점, 수학:100점 맞음
# while문을 이용해서 총점과 평균을 출력해 보세요
# 학생의 점수는 list, dict로 표현

In [36]:
subject_ls = ['korean', 'english', 'math']
points_ls = [80, 90, 100]
points_dict = {'korean':80, "english":90, "math":100}

In [34]:
total, avg = 0, 0

In [37]:
data = points_ls.copy() # 깊은복사 # 원본데이터 보존

In [38]:
while data:
    total += data.pop()
print(total, total / len(points_ls))

270 90.0

In [40]:
# 무한루프 조심!
# break : 반복문을 중단시킬때 사용되는 예약어

result = 1

while result:
    result += 1
    print(result, end="")
    
    if result == 10:
        break

2345678910

### For
- iterable한 값을 하나씩 꺼내서 value에 대입시킨 후 코드를 iterable 변수의 값 갯수만큼 실행한다
```python
for <variable> in <iterables>:
    <code>
```

In [45]:
# for : continue : 조건부분으로 올라가서 코드가 실행

ls = [0, 1, 2, 3, 4]
for data in ls:
    print(data, end=" ")
    if data % 2: # 데이터가 홀수이면 continue
        continue
    print("PYTHON")

0 PYTHON
1 2 PYTHON
3 4 PYTHON

In [50]:
# for 이용하여 100번 실행
# range 함수
range(100)

result = 0
for data in range(100):
    result += data
result

4950

In [49]:
result = 0
for data in range(1, 101):
    result += data
result

5050

In [53]:
# offset index 개념과 비슷하게 사용

list(range(5)), list(range(5,10)), list(range(0, 10, 2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8])

In [54]:
# 0~10까지 짝수를 더한 총합
result = 0
for num in range(0, 11, 2):
    result += num
    
print(result)

30

In [58]:
points_dict = {'korean':80, 'english':90, 'math':100}
print(list(points_dict.keys()))

for data in points_dict:
    print(data)

['korean', 'english', 'math']
korean
english
math

In [59]:
for subject, point in points_dict.items():
    print(subject, point)

korean 80
english 90
math 100

In [64]:
for subject, point in zip(points_dict.keys(), points_dict.values()):
    print(subject, point)

korean 80
english 90
math 100

In [60]:
# tuple
a, b = (1, 2)
a, b

(1, 2)