# Introduction to R Programming

### Performing Calculations

To start off, R can perform the actions of a basic calculator. Let's calculate the average math score:<br>

These calculations are also called expressions. In R, once we finish writing out our expressions, we can show the results of our calculation using a print() statement. The `print()` statement shows the results of the calculation in between `()`. Like this:

```r
print((92+87+85)/3)
```

Here's the same calculation:

```r
print(
    (92+87+85)/3
)
```

In [1]:
print((90+81+92)/3)

[1] 87.66667

In [2]:
print((84+95+79)
      /3)
print((95+86+93)
      /3)

[1] 86
[1] 91.33333

In [3]:
print(88-(88+87.66667+86+91.33333+84+91+89.33333)/7)

[1] -0.1904757

### inline comment
```r
print(
   (92 + 87 + 85)/3 # Finding the math score
)
```

### single-line comment

```r
# Here, we're finding the average of our scores. Then, subtracting this average from the math score. 
print(
    88 - ((88 + 87.66667 + 86 + 91.33333 + 84 + 91 + 89.33333)/7) 
)
```

In [4]:
print(
    88 - ((88 + 87.66667 + 86 + 91.33333 + 84 + 91 + 89.33333)/7) 
    # hoho
)

[1] -0.1904757

### Assigning Values to a Variable

Using R as a "calculator" is useful. However, a more robust approach would be to store these values for later use. This process of storing values is called **variable assignment**. A variable in R, is like a named storage unit that can hold values.<br>

The process of assigning a variable requires two steps:

1. Naming the variable.
2. Assigning the value to the name using `<-`.

When naming a variable, there are a few rules you must follow:

* A variable name consists of letters, numbers, a dot, or an underline.
* We can begin a variable with a letter or a dot. If it's a dot, then we cannot follow it with a number.
* We cannot begin a variable with a number.
* No special characters allowed.

For more detail, here is a table detailing what variable names are allowed and which are not:

![r-assign-value](https://s3.amazonaws.com/dq-content/180/variable_name_v2.svg)

Let's return to our math score calculation: `(92 + 87 + 85)/3`, the result of this calculation is `88`. To store `88` in a variable called math:

```r
math <- 88
print(math)

[1] 88
```

Variables, not only can hold the result of our calculation, we can also assign the value of an expression:

```r
math <- (92 + 87 + 85)/3
[1] 88
```

We've stored our math grade in a variable. Let's store our other scores in variables.

In [5]:
math <- 88 

# Add your code below
chemistry <- 87.66667
writing <- 86
art <- 91.33333
history <- 84
music <- 91
physical_education <- 89.33333

### Performing Calculations Using Variables

```r
math <- 88
chemistry <- 87.66667
print(math - chemistry)

[1] 0.33333
```

If we wanted to find the average score between math and chemistry, we can use the `+`,`/`,`()` operators on the two variables:

```r
(math + chemistry)/2
[1] 87.83334
```

After we make these calculations, we can also store the result of these expressions in a variable. If we wanted to store the average of math and chemistry in a variable called average, it would look like this:

```r
average <- (math + chemistry)/2
[1] 87.83334
```

Displaying the average would return the same value 87.83334.

In [7]:
gpa = (math+chemistry+writing+art+history+music+physical_education)/7
history_difference = history - gpa

print(gpa)
print(history_difference)

[1] 88.19048
[1] -4.190476

### Creating Vectors

Returning to our math, chemistry example, let's look at the current variables:

![r-variable](https://s3.amazonaws.com/dq-content/180/create_vector_vars.svg)

A vector is a storage container that can store a sequence of values. We can then name a vector using a variable. Like this:


![r-vector](https://s3.amazonaws.com/dq-content/180/create_vector_vec.svg)

To create a vector, you'll be using `c()`. In R, `c()` is known as a function. Similar to the `print()` statement, the `c()` function takes in multiple inputs and stores these values in one place. The `c()` function doesn't perform any arithmetic operation on the values, it just stores those values. You can read more about the `c()` function [here](https://cran.r-project.org/doc/manuals/r-release/R-intro.html#The-concatenation-function-c_0028_0029-with-arrays).<br>

Here are the steps to creating a vector:
1. Identify the values you want to store in a vector and place these values within the `c()` function. Separate these values using a comma(`,`).
2. Assign the vector to a name of your choice using `<-`.

```r
math_chemistry <- c(88,87.66667)
```

We could also create the vector using your variable names as well:

```r
math_chemistry <- c(math,chemistry)
```

On the other hand, if we tried to store a sequence of values, like this:

```r
math_chemistry <- 88, 87.66667
```

The R interpreter will only try to assign 88 to `math_chemistry` but will not be able to interpret the comma after 88:

```
Error: unexpected ',' in "math_chemistry <- 88,"
```

Let's store our final scores in a vector!

In [8]:
final_scores = c(math, 
                 chemistry, 
                 writing, 
                 art, 
                 history, 
                 music, 
                 physical_education)

print(final_scores)

[1] 88.00000 87.66667 86.00000 91.33333 84.00000 91.00000 89.33333

### Calculating the Mean

To calculate the grade point average using a vector, use the `mean()` function. The `mean()` function will take an input(the vector) and calculate the average of that input. The interpreter will then display the result.

```r
math_chemistry <- c(88,87.66667)
mean(math_chemistry)

[1] 87.83334
```

In [9]:
gpa = mean(final_scores)
gpa

[1] 88.19048

### Performing Operations on Vectors

Let's dig deeper into our final_grades vector and ask it a few more questions:

* What was the highest score?
* What was the lowest score?
* How many classes did you take?

To answer these questions, let's introduce a few more functions you can use that would be useful for you:

* `min()`: Finding the smallest value within the vector
* `max()`: Finding the largest value within the vector
* `length()`: Finding the total number of values the vector holds
* `sum()`:: Taking the sum of all the values in the vector( Note: Will not be used in exercise.)

In [12]:
highest_score <- max(final_scores)
lowest_score <- min(final_scores)
num_classes <- length(final_scores)

print(highest_score)
print(lowest_score)
print(num_classes)

[1] 91.33333
[1] 84
[1] 7