Table
- [1. 클래스](#Class)
- [2. 객체지향](#객체지향)
- [3. 생성자](#생성자)

# Class
- 변수와 함수를 묶어 놓은 개념
- 사용 방법
 - 변수와 함수가 들어있는 클래스 선언
 - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용

In [1]:
# 클래스의 선언
class Calculator:
    
    num1 = 1
    num2 = 2
    
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [3]:
calc = Calculator()
calc

In [4]:
calc.num1, calc.num2, calc.plus(), calc.minus()

(1, 2, 3, -1)

In [5]:
calc2 = Calculator()

In [6]:
calc2.num1 = 10

In [7]:
calc2.plus()

12

# 객체지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러 명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키기 위한 방법론
- 설계도 작성(class) > 실제 물건(object)
- 사용자 정의 데이터 타입

In [8]:
calc2.plus() #계산기 객체의 메소드 사용

12

In [9]:
obj = "python"
obj.upper()  #문자열 객체의 메소드 사용

'PYTHON'

In [12]:
ls = [1, 3, 2] 
ls.sort() # 리스트 객체의 메소드 사용
ls

[1, 2, 3]

In [15]:
print(dir(ls), end="")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [16]:
print(dir(calc2), end="")

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'minus', 'num1', 'num2', 'plus']

# 생성자
- 클래스가 객체로 생성될 때 실행되는 함수
- 변수(재료)를 추가할때 사용됩니다.

In [17]:
class Calculator:
    
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [18]:
calc1 = Calculator(3, 4)

In [21]:
print(calc.num1, calc.num2)
print(calc.plus(), calc.minus())

1 2
3 -1

In [22]:
# Join
ls = ["python", "is", "good"]
sep = " "
sep.join(ls)

'python is good'

In [23]:
# pandas dataframe
import pandas as pd
pd.DataFrame([
    {"name" : "jin", "age":20}, {"name":"andy","age":20}
])

   name  age
0   jin   20
1  andy   20